@model AccountService.SerializableRecipeModel[]

@foreach (var x in Model)
{
    <div class="container">
        <div class="row"><h4>@x.Name.</h4></div>
        <div class="row">Servings: @x.Yield</div>
        <div class="row"><a href="@Href(x.Url)" target="_blank">@x.Source</a></div>

    </div>

}